html, body {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    height: 90vh;
    color: white;
    background-image: url('../Fotos/logan-weaver-lgnwvr-OxlzI0sVWVo-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    
  }

  .banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
  }

  .banner p{
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .banner span{
    color: #00bcd4;
    font-weight: mont-serrat;
}



.container {
    display: flex;
    
    margin: auto;
    
}


