.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 1rem 2rem;
    color: #ffff;
    font-family: sans-serif;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links li a {
    text-decoration: none;
    color:#ffff;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-links a :hover{
    color: #00bcd4;
}
.auth-links{
    display: flex;
    gap: 2rem;
}
.button-login, .button-cadastro{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s;
}
.button-login{
    border: 1px solid #00bcd4;
    color: #00bcd4;
}
.button-login:hover{
    border: 1px solid #00bcd4;
    color: #ffff;
}

.button-cadastro{
    border: 1px solid #00bcd4;
    color: #00bcd4;
}
.button-cadastro:hover{
    border: 1px solid #00bcd4;
    color: #ffff;
}
