html, body{
  margin: 0;
  color: #f5f5f5;
  background-color: #121212;
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 40px;
}
h1{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 0px;
}

.blocos-textos{
    padding: 30px 20px;
    margin-bottom: 20px;
    line-height: 2.0;
    font-size: 1.15rem;
    text-align: justify;
}

.blocos-textos p{
    margin-bottom: 20px;
}

.video{
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    margin: 60px 0;
    text-align: center;
}
.video h2{
    margin-bottom: 20px;
    color: #d68c8c;
    font-size: 1.5rem;
}

.video video{
    width: 100%;
    max-width: 720px;
    height: auto;
    border-radius: 10px;
}
.texto-final{
    margin-top: 60px;
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    color: #ccc;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.destaque{
    color: #d68c8c;
    font-weight: bold;
}
.citacao{
    font-style: italic;
    color: #ccc;
    margin: 30px 0;
    padding-left: 20px;
    border-left: 2px solid #555;
}
.separador{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}

.footer{
  background-color: #0a0a0a ;
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 14px;
  margin-top: 60px;
}
