html, body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #eee;
}

.banner-home{
    position: relative;
    height: 90vh;
    color: white;
    background-image: url('../assets/imgs/logan-weaver-lgnwvr-OxlzI0sVWVo-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .banner-home::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
  }

  .banner-home p{
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    font-weight: bold;
  }

  .banner-home span{
    color: #00bcd4;
    font-weight: bold;
}


/*section*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.home2{
  background-color:rgb(0, 0, 0);
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center
}
.secundaria{
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

h2{
  color: #00bcd4
}


.intro-home p{
margin: 15px 0;
line-height: 1.6;
color: #eee;
font-size: 1.17em;
font-weight: bold;
}
.intro-home ul{
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.17em;
}
.intro-home ul li{
  margin: 10 0;
  color: #eee;
  font-weight: 500;
  font-size: 1.17em;
}
.cards-containers{
  display: flex;
  flex-wrap: nowrap;  /*Faz com que não quebre a linha*/
  justify-content: center; 
  gap: 32px;
}

.card{
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  min-width: 260px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.card a{
  text-decoration: none;
  color: inherit;

}

.card img{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.card h4{
  color: #87cefa;
  margin-bottom: 10px;
  font-size: 1.17em;
}
.card p{
  color: #ccc;
  font-size: 1.17em;
}
.card:hover{
  transform: translateY(-20px);
  box-shadow: 0 8px 16px rgba(0,0,255,0.2);
}
.footer{
  background-color: #0a0a0a ;
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 14px;
  margin-top: 60px;

}
.footer p{
    color: white;
}