body{
    background-color: #525c64;
    margin: 0;
    padding: 0;
    display: flex;
    color: #ffff;
    flex-direction: column;
    

}

.botaoOpcao{
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 8px;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
    justify-content: center;
    background-color: #676767;

} 
.botaoOpcao input[type="radio"]{ /*esconde input e ainda fica clicavel*/
    
    opacity: 0;
    position: absolute;

}
/*
.botaoOpcao input[type="radio"]:checked + .option{ /*quando o radio fica checked, muda o estilo do label
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px;

} */

/*
.botaoOpcao input[type="radio"]:checked + span{
    background-color: #d4edda;
    color: #155724
}*/

.botaoOpcao input{
    margin-right: 10px;

 } 
 /*
.botaoOpcao:hover{
    background-color: #ffffff;
}
*/
#pontuacaoEJogo{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 90vh;



    
}
#pontuacao{
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(to right, #00b4db, #0083b0);
    position: relative;
    color: black;
}
#pontuacao::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #00b4db, #0083b0);
}

#pontuacaoFinal{
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;

}

#pontuacao span{
    font-size: 1rem;
}
#jogo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#perguntaDaQuestaoAtual{
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
    line-height: 1.4;
    color: #000000;
    border-bottom: 2px solid #000000;
}

#infoAlternativas{
    margin-bottom: 10px;
    color: #000000;
}
#opcoes{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 20px;
    align-items: center;
}
#opcoes span{
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 123, 300, 0.2);
}
#opcoes span:hover{
    background-color: #00bcd4;;
    
}

input[type="radio"]{
    display: none;
}

#opcoes span.selected{
    background-color: black;
    box-shadow: rgb(184, 100, 184);
}

#botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
button{
    cursor: pointer;
    background-color: rgb(19, 0, 63);
    color: gray;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 6px;
    user-select: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 12px rgba(0, 123, 300, 0.2);
}

button:hover:not(:disabled){ /*Quando o botão poder ser clicado */ 
    background-color: rgb(255, 255, 255);
}

button:disabled   /*Quando botão tiver desativado !Essa cor!*/
{ 
    background: linear-gradient(to right, #00b4db, #0083b0);
    cursor: not-allowed;
    box-shadow: none;
    color: #000000;
}
.text-success-with-bg{
    background-color: rgb(33, 160, 77);
    color: #31801d;

}
.text-error-with-bg{    
    background-color: #f77c7c;
    color: #911c1c;
    
}

.flex-opcoes{
    display: flex;
    flex-direction: column;
}



.footer{
  background-color: #0a0a0a ;
  text-align: center;
  padding: 20px 0;
  color: #666;
  font-size: 14px;
  margin-top: auto;
  width: 100%;

}